[project]
	description = Android project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/BuiXuanBach
[access "refs/for/refs/*"]
	read = group user/BuiXuanBach
	push = group user/BuiXuanBach
	label-Code-Review = -2..+2 group user/BuiXuanBach
	label-Verified = -1..+1 group user/BuiXuanBach
	rebase = group user/BuiXuanBach
	removeReviewer = group user/BuiXuanBach
	submit = group user/BuiXuanBach
[access "refs/heads/*"]
	read = group user/BuiXuanBach
	create = group user/BuiXuanBach
	push = +force group user/BuiXuanBach
	pushMerge = group user/BuiXuanBach
[access "refs/tags/*"]
	push = group user/BuiXuanBach
	push = +force group user/BuiXuanBach
